[submodule "mods/Create"]
	path = mods/Create
	url = https://github.com/coding-1ab/Create.git
	branch = mc1.21.1/dev
[submodule "mods/AppleSkin"]
	path = mods/AppleSkin
	url = https://github.com/coding-1ab/AppleSkin.git
	branch = 1.21-neoforge
[submodule "mods/Applied-Energistics-2"]
	path = mods/Applied-Energistics-2
	url = https://github.com/coding-1ab/Applied-Energistics-2.git
[submodule "mods/create-new-age"]
	path = mods/create-new-age
	url = https://github.com/coding-1ab/create-new-age.git
	branch = 1.21.1
[submodule "mods/create_connected"]
	path = mods/create_connected
	url = https://github.com/tmvkrpxl0/create_connected.git
[submodule "mods/createaddition"]
	path = mods/createaddition
	url = https://github.com/tmvkrpxl0/createaddition.git
[submodule "mods/CC-Tweaked"]
	path = mods/CC-Tweaked
	url = https://github.com/cc-tweaked/CC-Tweaked.git
	branch = mc-1.21.x
[submodule "mods/NatureSpiritForge"]
	path = mods/NatureSpiritForge
	url = https://github.com/coding-1ab/NatureSpiritForge.git
	branch = 1.21.1
[submodule "mods/easyshulkerboxes"]
	path = mods/easyshulkerboxes
	url = https://github.com/Fuzss/easyshulkerboxes.git
[submodule "mods/CreateDragonPlus"]
	path = mods/CreateDragonPlus
	url = https://github.com/coding-1ab/CreateDragonsPlus.git
[submodule "mods/CreateEnchantmentIndustry"]
	path = mods/CreateEnchantmentIndustry
	url = https://github.com/coding-1ab/CreateEnchantmentIndustry.git
[submodule "mods/Quicksand"]
	path = mods/Quicksand
	url = https://github.com/coding-1ab/Quicksand.git
[submodule "mods/Spice-of-Life-Carrot-Edition"]
	path = mods/Spice-of-Life-Carrot-Edition
	url = https://github.com/coding-1ab/Spice-of-Life-Carrot-Edition.git
[submodule "mods/FarmersDelight"]
	path = mods/FarmersDelight
	url = https://github.com/coding-1ab/FarmersDelight.git
	branch = 1.21
[submodule "mods/iteminteractions"]
	path = mods/iteminteractions
	url = https://github.com/coding-1ab/iteminteractions.git
[submodule "mods/Create-Stock-Bridge"]
	path = mods/Create-Stock-Bridge
	url = https://github.com/coding-1ab/Create-Stock-Bridge.git
[submodule "mods/Veil"]
	path = mods/Veil
	url = https://github.com/coding-1ab/Veil.git
	branch = 1.21
[submodule "mods/sable"]
	path = mods/sable
	url = https://github.com/coding-1ab/sable.git
[submodule "mods/Simulated-Project"]
	path = mods/Simulated-Project
	url = https://github.com/coding-1ab/Simulated-Project.git
[submodule "mods/MapAtlases"]
	path = mods/MapAtlases
	url = https://github.com/jwyoon1220/mapatlases-neoforge.git
	branch = 1.21.1
	branch = main
[submodule "mods/Moonlight"]
	path = mods/Moonlight
	url = https://github.com/coding-1ab/Moonlight.git
	branch = 1.21
