# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

.env

.vscode/

# idea
out
*.ipr
*.iws
*.iml
.idea

# But keep code styles and inspection profiles
!.idea/codeStyles/
!.idea/inspectionProfiles/

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo
bad_apple_stress_test/videoplayback.mp4
bad_apple_stress_test/node_modules/
bad_apple_stress_test/output/

vault/textures_that_are_mit_i_swear