# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

.env

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo


bad_apple_stress_test/bad_apple.mp4
bad_apple_stress_test/node_modules/
bad_apple_stress_test/output/